h1{
    font-family: "avenir";
    font-size: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 30px;
}

#footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 5%;
    text-align: center;
    line-height: 40px;
    padding: 10px;
    color:white;
    bottom: 0%;
    left: 0%;
    position: fixed;
}

#navigation{
    font-size: 18px;
    text-transform: lowercase;
    text-align: right;
    margin-right: 10px;
    margin: 30px;
    letter-spacing: 3px;
    font-family: "Garamond", "Miller", "Serif";
}

img{
    border:#000000 1px solid;
    width: 300px;
    height: 400px;
    padding: 10px;
    margin-top: 50px;
}

/* .img-with-text {
    text-align: justify;
    width: [width of img];
    letter-spacing: 3px;
    font-family: "avenir";
    margin-left: 30px;
    font-weight: medium;
} */

.imgContainer {
    display: inline-block;
    padding: 60px;
    font-family: "avenir";
    letter-spacing: 3px;
}


a:link{text-decoration: none; color: #000000; margin: 30px;/*link that hasn't been visited*/}
a:visited{text-decoration: none; color: #654a4a; margin: 30px;/*once page is visited*/}
a:active{text-decoration: underline; color: #571414; margin: 30px;/*link that is selected*/}
a:hover{text-decoration: underline; color: #571414; margin: 30px;/*when mouse is over link*/}
